In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [3]:
def getFile(exid):
    f = open('cs/'+exid+'.html')
    html = f.read()
    f.close()
    return html

In [49]:
def getAttr(b):
    score = b.select_one('strong').text
    odd = b.select_one('.avg.nowrp').text
    
    return score, odd

def visable(b):
    return b.select_one('.odds-cnt').text != '(0)'
    
def getData(html):
    soup = BeautifulSoup(html, "html.parser")
    table = soup.select_one('#odds-data-table')
    rows = table.select('.table-container .table-header-light')
    return pd.DataFrame([getAttr(row) for row in rows if visable(row)])

In [ ]:
html = getFile('0AaUjfun')

In [75]:
def getHalfResult(html):
    soup = BeautifulSoup(html, "html.parser")
    result = soup.select_one('#event-status .result').text
    r1 = result[result.find('result')+7: result.rfind(' (')]
    r2 = result[result.find('(')+1: result.rfind(', ')]
    r3 = result[result.rfind(', ')+2: result.rfind(')')]
    return r1, r2 ,r3

In [76]:
getHalfResult(html)

('0:4', '0:0', '0:4')

In [77]:
data = getData(html)

In [84]:
data[1] = data[1].astype('float')

In [87]:
data['s1'] = data[0].apply(lambda s: int(s.split(':')[0]))
data['s2'] = data[0].apply(lambda s: int(s.split(':')[1]))

In [103]:
ratio = 1/(1 / data[1]).sum()

In [104]:
p1 = (1 / data[data['s1'] == 0][1] * ratio).sum()

In [105]:
p2 = (1 / data[data['s2'] == 0][1] * ratio).sum()

In [107]:
data

      0       1  s1  s2
0   1:0   14.92   1   0
1   2:0   39.50   2   0
2   2:1   23.49   2   1
3   3:0  120.86   3   0
4   3:1   83.49   3   1
5   3:2   83.76   3   2
6   4:0  318.86   4   0
7   4:1  276.00   4   1
8   4:2  276.00   4   2
9   4:3  308.14   4   3
10  5:0  301.00   5   0
11  5:1  301.00   5   1
12  5:2  301.00   5   2
13  5:3  301.00   5   3
14  5:4  301.00   5   4
15  0:0    9.32   0   0
16  1:1    7.98   1   1
17  2:2   22.97   2   2
18  3:3  107.95   3   3
19  4:4  342.67   4   4
20  5:5  301.00   5   5
21  0:1    5.31   0   1
22  0:2    5.65   0   2
23  1:2    8.47   1   2
24  0:3    8.65   0   3
25  1:3   12.86   1   3
26  2:3   34.20   2   3
27  0:4   16.80   0   4
28  1:4   26.00   1   4
29  2:4   68.60   2   4
30  3:4  200.78   3   4
31  0:5   40.38   0   5
32  1:5   62.63   1   5
33  2:5  144.29   2   5
34  3:5  336.00   3   5
35  4:5  301.00   4   5
36  0:6   89.50   0   6
37  1:6  116.75   1   6
38  2:6  217.33   2   6
39  0:7  175.67   0   7
40  1:7  326.00   1   7
41  0:8  501.00   0   8

In [106]:
mu1 = -np.log(p1)
mu2 = -np.log(p2)
mu1, mu2

(0.7066793772392389, 1.8776524422624856)